*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1vw;
}

.detail{
    margin: 0 auto;
    border: 1px rgb(158, 158, 158) solid;
    padding-top: 10px;
}

.boxcenter{
    width: 80%;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 20px;
}


.boxtrai{
    float: left;
    width: 50%;
}

.boxphai{
    float: left;
    width: 50%;
}

.header{
    background-color: rgb(126, 186, 150);
    border: 1.5px #519eb1 solid;
    font-size: 1vw;
    color: rgb(0 114 188);
    border-radius: 5px;
    background-image: url("/public/image/imgheader.jpg");
    background-size: cover;
    background-position: 0 -120px;
    padding: 70px;
}

.header h1{
    margin: 30px;
    font-size: 1.7vw;
    margin-left: -20px;
    font-weight: bold;
}

.footer{
    background-color: rgb(126, 186, 150);
    border: 1.5px rgb(17, 26, 193) solid;
    font-size: 1vw;
    color: black;
    border-radius: 5px;
    padding: 100px;
    background-image: url("/public/image/footerRight.jpg");
    background-size: cover;
    background-position: -1px -50px;
}

.menu{
    background-color: rgb(0 97 161);    
    color: #CCC;
    border-radius: 5px;
}

.menu ul{
    padding: 0px 10px;
}

.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a{
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover{
    color: white;
    font-size: 1.1vw;
}

.menu ul li .login{
    padding-left: 56.7%;
}

#img{
    width: 250px;
}

.shadow{
    box-shadow: 0 0 5px 2px #aaaaaa;
    border-radius: 5px;
}

.bd{
    border: 1px black solid;
    height: 350px;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

#mota{
    font-size: 1.3vw;
}