*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1vw;
}

.main{
    margin: 0 auto;
}

.productimage{
    width: 200px; 
    min-height: 100px;
}

.name{
    text-align: center; 
    line-height: 30px;
}

.link{
    text-decoration: none;
    color: rgb(36, 15, 105);
}

.link:hover{
    background-color: #CCC;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.price{
    text-align: center;
    color:red;
}

table td{
    border: 1px #CCC solid;
    padding: 20px;
}

.boxcenter{
    width: 80%;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr{
    margin-right: 2%;
}

.demo{
    background-color: antiquewhite;
    min-height: 100px;
}

.header{
    background-color: rgb(126, 186, 150);
    border: 1.5px #519eb1 solid;
    font-size: 1vw;
    color: rgb(0 114 188);
    border-radius: 5px;
    background-image: url("/public/image/imgheader.jpg");
    background-size: cover;
    background-position: 0 -120px;
    padding: 70px;
}

.footer{
    background-color: rgb(126, 186, 150);
    border: 1.5px rgb(17, 26, 193) solid;
    font-size: 1vw;
    color: black;
    border-radius: 5px;
    padding: 100px;
    background-image: url("/public/image/footerRight.jpg");
    background-size: cover;
    background-position: -1px -50px;
}

.header h1{
    margin: 30px;
    font-size: 1.7vw;
    margin-left: -20px;
    font-weight: bold;
}

.menu{
    background-color: rgb(0 97 161);    
    color: #CCC;
    border-radius: 5px;
}

.boxtrai{
    float: left;
    width: 74%;
}

.boxphai{
    float: left;
    width: 24%;
}

.boxtitle{
    color: #333;
    padding: 10px;
    background-color: rgb(0 114 188);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
    font-weight: bold;
}
.boxtitle2{
    color: #333;
    padding: 10px;
    background-color: #ed0677;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
    font-weight: bold;
}
.boxtitle3{
    color: #333;
    padding: 10px;
    background-color: #ed0677;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
    font-weight: bold;
}

.boxcontent{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 22px;
}

.boxcontent2{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    background-color: #EEE;
}

.boxfooter{
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
}

.banner{
    min-height: 300px;
    text-align: center;
}

.banner img{
    height: 300px;
}

.boxsp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius:5px;
    margin-bottom: 20px;
}

.boxsp .img{
    min-height: 230px;
    text-align: center;
}

.img img{
    height: 220px;
}

.text{
    text-align: center;
}
.text a{
    text-decoration: none;
}
.text p{
    color: red;
}

.menu ul{
    padding: 0px 10px;
}

.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a{
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover{
    color: white;
    font-size: 1.1vw;
}

.menu ul li .login{
    padding-left: 56.7%;
}

/*menu doc*/

.menudoc ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li{
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #CCC solid;
}

.menudoc ul li a{
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover{
    background-color: #CCC;
}

.searchbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px #CCC solid;
    border-radius: 5px;
}

.top10 img {
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #CCC solid;
}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: #000;
    text-decoration: underline;
}

.zoom {
    transition: transform .3s;
  }
  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

/*slide show*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /*end slide show*/

  /*css introduce*/
  .title1{
    color: #133c8b !important;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
    float: left;
    padding-bottom: 10px;
  }

  .mintitle{
    color: #ed0677;
    font-weight: bold;
    font-size: 14px;
  }

 .textintro p{
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
 }
  
.shadow{
    box-shadow: 0 0 5px 2px #aaaaaa;
    border-radius: 5px;
}
/*end introduce*/

/*css contact*/
.map{
    margin-left: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 200px;
}

.logout{
    padding-right: 33.5%;
    padding-left: 40.5%;
    background-color: #f5489c;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
.register{
    padding-right: 38.3%;
    padding-left: 40.5%;
    background-color: #EEE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

